{# https://stackoverflow.com/a/37843854/1088938 #}
{% extends "!layout.html" %}

  {% block menu %}
    {{ super() }}
    <a href="{{pathto('genindex.html', 1)}}">Index</a>
    <a href="{{pathto('modindex.html', 1)}}">Module Index</a>
  {% endblock %}

  {% block extrahead %}
    <!-- begin mathjax_defines: empty for now... {{ instructor }} -->
    {{ mathjax_defines }}
    <!-- end mathjax_defines -->
  {% endblock %}
    
